/* OVERLAY */
.gradientOverlay {
  display: none !important;
}

/* SEEK BAR - MOVIE TIME */
.seekBar {
  position: fixed !important;
  right: 9.5vw !important;
  left: 9vw !important;
  bottom: 8vh !important;
  height: 5vh;
}

.progressBarContainer {
  z-index: 10001 !important;
}

.seekBar .arrowWrapper{
  top: -.18vh !important;
}

/* MOVIE CONTROLS*/
.buttons {
  bottom: 5.5vh;
  left: 9vw;
  position: fixed;
  height: 4.5vh;
  z-index: 1002 !important;
}

.playIcon {
  opacity: .8 !important;
  width: 0.6em !important;
  height: 1.25em !important;
  border-width: 0px !important;
  float: left !important;

  margin-top: -0.25em !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}

.pausedIcon {
  opacity: .8 !important;
  width: 0.6em !important;
  height: .75em !important;
  border-width: 0px !important;

  margin-top: 0 !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}

.playIcon > .svgBackground {
  width: 1.25em;
  height: 1.25em;
}

.pausedIcon > .svgBackground {
  width: 1.25em;
  height: 1.25em;
}

.buttons > .fastSeekBack {
  cursor: pointer;
  margin-top: 0px !important;
  margin-right: 10px !important;
  margin-bottom: 0px !important;
  border: 0px !important;
  
  height: 1.5vw !important;
  width: 1.25em !important;
}

.fastSeekBack::before {
  padding: 0px !important;
  margin: 0px !important;
  font-size: 2.5em;
  content: "«";
}

.fastSeekBack > .svgBackground {
  display:none !important;
}

.buttons > .fastSeekForward {
  cursor: pointer;
  margin-top: 0px !important;
  margin-left: 7px !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  border: 0px !important;

  height: 1.5vw !important;
  width: 1.25em !important;
}

.fastSeekForward::before {
  padding: 0px !important;
  margin: 0px !important;
  font-size: 2.5em;
  content: "»";
}

.fastSeekForward > .svgBackground {
  display: none !important;
}

.imageButton > .svgBackground {
  width: initial !important;
}

/* time display */
@media (max-width:1050px) {
  .time {
    display: none
  }

  .contentTitlePanel {
    left: 20vw !important;
    width: 50vw !important;
  }
}

@media (max-width:780px) {
  .contentTitlePanel {
    left: 25vw !important;
    width: 40vw !important;
  }
}

.time {
  position: absolute;
  left: 17.5vw !important;
  bottom: 4.5vh !important;
  width: 10vw;
  height: 5vh;
}

.timeRemaining {
  position: fixed;
}

.seekTime {
  display: none !important;
}

/* movie title */
.contentTitlePanel {
  position: fixed;
  bottom: 0 !important;
  left: 26vw;
  text-align: left !important;
  overflow-x: hidden;
  width: 50vw;
  margin-top: 0px !important;
  display: inline-flex;
  z-index: 1001;
  height: 10.25vh;
}

.contentTitlePanel > .title {
  font-size: .75em !important;
  font-weight: 900;
}

.contentTitlePanel > .subtitle {
  font-weight: 100;
  font-size: .75em !important;
  padding-left: .5vw !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  padding-right: 0 !important;
}

/* resize controls */
@media (max-width:520px) {
  .contentTitlePanel {
    display: none !important;
  }

  .divider {
    visibility: hidden !important;
  }
  
  .volumeControlButton {
    width:30px !important;
    height: 26px !important;
  }
  
  .fullscreenButton {
    width:30px !important;
    height: 26px !important;
  }
  
  .optionsButton {
    width:30px !important;
    height: 26px !important;
  }
  
  .subtitlesAndAudioButton {
    width:30px !important;
    height: 26px !important;
  }
}

/* HD indicator */
.hdIndicator {
  display: none !important;
}

/* Next episode button */
.nextTitleButton {
  position: fixed !important;
  right: 9.75vw !important;
  bottom: 5.5vh !important;
  height: 5vh;
}

.nextTitleButton > .text {
  display: none !important;
}

.nextTitleButton > .icon {
  display: none !important;
}

.nextTitleButton::after{
  font-size: 1.65em;
  content: "\23ED";
}

.nextTitleButton > .text {
  margin-left: 20px;
}

.nextTitleButton > .icon {
  display: none;
}

.nextUpCard > img {
  width: initial !important;
  position: relative !important;
}

/* Next up Card */
.nextUpCard > .playIconWrapper {
  margin-top: 1.75em !important;
}

.nextUpWrapper {
  position: fixed !important;
  bottom: 15vh !important;
  right: 9vw !important;
}

.tooltipWrapper {
  bottom: 5.75vh !important;
}

.collapsibleXrayHeader {
  margin-top: 3vh;
}

/* Subtitle, options, volume, fullscreen  */
.topButtons {
  position: fixed !important;
  margin: 0 !important;
  bottom: 0 !important;
  right: 13.5vw !important;
  height: 10.25vh !important;
  padding: 0 !important;
  border: 0 !important;
  align-items: baseline !important;
  z-index: 999 !important;
}

.divider {
  width: 0.1em !important;
  height: 1em !important;
  margin-left: 1vw !important;
}

.volumeControl {
  margin-left: .5vw !important;
  margin-right: .5vw !important;
  margin-top: 0px !important;
}

.volumeControlButton {
  min-width: 20px !important;
  max-width: 0.6em !important;
  height: 0.6em !important;
}

.fullscreenButtonWrapper {
  margin-left: -0.25vw !important;
  margin-right: .5vw !important;
  margin-top: 0px !important;
}

.fullscreenButton {
  min-width: 20px !important;
  max-width: 0.6em !important;
  height: 0.6em !important;
}

.optionsWrapper {
  margin-left: .5vw !important;
  margin-right: .5vw !important;
  margin-top: 0px !important;
}

.optionsButton {
  min-width: 20px !important;
  max-width: 0.6em !important;
  height: 0.6em !important; 
}

.subtitlesAndAudioWrapper {
  margin-left: .5vw !important;
  margin-right: .5vw !important;
  margin-top: 0px !important;
}

.subtitlesAndAudioButton {
  min-width: 20px !important;
  max-width: 0.6em !important;
  height: 0.6em !important;
}

.hideableTopButtons .arrowWrapper {
  transform: rotateX(180deg) !important;
  top: -1.7vh !important;
}

.quickViewContainer {
  position: fixed !important;
  left: 8vw !important;
  top: 2vh !important;
}

/* close button */
.closeButtonWrapper {
  left: 2vw !important;
  top: 2vh !important;
  position: fixed !important;
}

.closeButtonWrapper > .imageButtonTooltipWrapper {
  width: 10vw !important;
  position: fixed !important;
  top: 6vh !important;
  left: 0vw !important;
  font-size: 1vw !important;
}

.closeButtonWrapper > .imageButtonTooltipWrapper::after {
  content: "Back to Browse"
}

.closePlayerTooltip {
  display: none !important;
}

/* loading button */
.loadingSpinner > .svgBackground {
  width: 20vw !important;
}

.center {
  display: inherit !important;
}

/* x-ray */
.collapsibleXrayHeader {
  margin-top: 0px !important;
}

.xrayFullView > .fullViewTop {
  padding-top: 3vh;
}

.controlsOverlayTopLeft {
  z-index: 999999 !important; 
}

.xrayQuickViewList {
  opacity: .8;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  min-height: 1vh;
  max-height: 80vh;
  overflow-y: auto;
}

.xrayQuickViewListItem {
  background-color: rgba(0,0,0,.8) !important;
}

/* skip intro button */
.skipElement {
  position: fixed !important;
  right: 9vw !important;  
  bottom: 14vh !important;
}